<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% comment %} 
    <h1>variable html</h1>
    <p>
        <!-- {{ my_var }} -->
        {{ key1 | upper }}
        {{ key1 | lower | capfirst}}
        {{ listkey.0 }}
        {# comment #}
    </p>

    <ul>
        {% for item in listkey %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul> {% endcomment %}

    <h1>
        VARIABLE PAGE
    </h1>



</body>
</html>